flows.json
[
  {
    "id": "tab-reuse",
    "type": "tab",
    "label": "ReUse Backoffice",
    "disabled": false,
    "info": ""
  },
  {
    "id": "ui-tab-reuse",
    "type": "ui_tab",
    "z": "",
    "name": "ReUse – Admin",
    "icon": "dashboard",
    "order": 1
  },
  {
    "id": "ui-group-flags",
    "type": "ui_group",
    "z": "",
    "name": "Feature Flags & Operação",
    "tab": "ui-tab-reuse",
    "order": 1,
    "disp": true,
    "width": "12"
  },
  {
    "id": "ui-group-actions",
    "type": "ui_group",
    "z": "",
    "name": "Ações",
    "tab": "ui-tab-reuse",
    "order": 2,
    "disp": true,
    "width": "12"
  },
  {
    "id": "inject-load",
    "type": "inject",
    "z": "tab-reuse",
    "name": "Carregar config ao iniciar",
    "props": [{"p": "payload"}],
    "repeat": "",
    "once": true,
    "onceDelay": 0.5,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 190,
    "y": 100,
    "wires": [["http-get-config"]]
  },
  {
    "id": "ui-button-load",
    "type": "ui_button",
    "z": "tab-reuse",
    "name": "Carregar",
    "group": "ui-group-actions",
    "order": 1,
    "width": 3,
    "height": 1,
    "passthru": false,
    "label": "Carregar",
    "tooltip": "GET /admin/config",
    "color": "",
    "bgcolor": "",
    "className": "",
    "x": 170,
    "y": 160,
    "wires": [["http-get-config"]]
  },
  {
    "id": "http-get-config",
    "type": "http request",
    "z": "tab-reuse",
    "name": "GET /admin/config",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "${REUSE_API_BASE_URL}/admin/config",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "headers": [
      { "key": "Authorization", "value": "Bearer ${REUSE_ADMIN_TOKEN}" }
    ],
    "x": 420,
    "y": 130,
    "wires": [["fn-populate-ui"]]
  },
  {
    "id": "fn-populate-ui",
    "type": "function",
    "z": "tab-reuse",
    "name": "Popular UI com config",
    "func": "// Espera payload no formato {\\n//   enableTrades, enablePushNotifications, maintenanceMode,\\n//   maxImagesPerItem, bannerText\\n// }\\nflow.set('config', msg.payload);\\nreturn [\\n  {topic:\\\"enableTrades\\\", payload: !!msg.payload.enableTrades},\\n  {topic:\\\"enablePushNotifications\\\", payload: !!msg.payload.enablePushNotifications},\\n  {topic:\\\"maintenanceMode\\\", payload: !!msg.payload.maintenanceMode},\\n  {topic:\\\"maxImagesPerItem\\\", payload: Number(msg.payload.maxImagesPerItem || 3)},\\n  {topic:\\\"bannerText\\\", payload: String(msg.payload.bannerText || \\\"\\\")}\\n];",
    "outputs": 5,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 690,
    "y": 130,
    "wires": [
      ["ui-switch-trades"],
      ["ui-switch-push"],
      ["ui-switch-maint"],
      ["ui-num-images"],
      ["ui-text-banner"]
    ]
  },
  {
    "id": "ui-switch-trades",
    "type": "ui_switch",
    "z": "tab-reuse",
    "name": "Trocas",
    "label": "Habilitar trocas",
    "tooltip": "",
    "group": "ui-group-flags",
    "order": 1,
    "width": 6,
    "height": 1,
    "passthru": true,
    "topic": "enableTrades",
    "x": 190,
    "y": 240,
    "wires": [["fn-store-change"]]
  },
  {
    "id": "ui-switch-push",
    "type": "ui_switch",
    "z": "tab-reuse",
    "name": "Push",
    "label": "Habilitar notificações",
    "group": "ui-group-flags",
    "order": 2,
    "width": 6,
    "height": 1,
    "passthru": true,
    "topic": "enablePushNotifications",
    "x": 210,
    "y": 290,
    "wires": [["fn-store-change"]]
  },
  {
    "id": "ui-switch-maint",
    "type": "ui_switch",
    "z": "tab-reuse",
    "name": "Manutenção",
    "label": "Modo manutenção",
    "group": "ui-group-flags",
    "order": 3,
    "width": 6,
    "height": 1,
    "passthru": true,
    "topic": "maintenanceMode",
    "x": 210,
    "y": 340,
    "wires": [["fn-store-change"]]
  },
  {
    "id": "ui-num-images",
    "type": "ui_numeric",
    "z": "tab-reuse",
    "name": "Máx imagens",
    "label": "Máx. imagens por item",
    "tooltip": "",
    "group": "ui-group-flags",
    "order": 4,
    "width": 6,
    "height": 1,
    "format": "{{value}}",
    "min": 1,
    "max": 10,
    "step": 1,
    "topic": "maxImagesPerItem",
    "x": 230,
    "y": 390,
    "wires": [["fn-store-change"]]
  },
  {
    "id": "ui-text-banner",
    "type": "ui_text_input",
    "z": "tab-reuse",
    "name": "Banner",
    "label": "Texto do banner global",
    "group": "ui-group-flags",
    "order": 5,
    "width": 12,
    "height": 1,
    "topic": "bannerText",
    "x": 240,
    "y": 440,
    "wires": [["fn-store-change"]]
  },
  {
    "id": "fn-store-change",
    "type": "function",
    "z": "tab-reuse",
    "name": "Atualizar estado local",
    "func": "let cfg = flow.get('config') || {};\\ncfg[msg.topic] = msg.payload;\\nflow.set('config', cfg);\\nreturn null;",
    "outputs": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 340,
    "wires": []
  },
  {
    "id": "ui-button-save",
    "type": "ui_button",
    "z": "tab-reuse",
    "name": "Salvar",
    "group": "ui-group-actions",
    "order": 2,
    "width": 3,
    "height": 1,
    "passthru": false,
    "label": "Salvar",
    "tooltip": "PUT /admin/config",
    "x": 170,
    "y": 520,
    "wires": [["fn-build-save"]]
  },
  {
    "id": "fn-build-save",
    "type": "function",
    "z": "tab-reuse",
    "name": "Montar payload & auditar",
    "func": "const cfg = flow.get('config') || {};\\nconst entry = {\\n  ts: new Date().toISOString(),\\n  user: (global.get('admin_user')||'unknown'),\\n  changes: cfg\\n};\\nnode.send([{payload: cfg},{payload: JSON.stringify(entry)}]);\\nreturn null;",
    "outputs": 2,
    "noerr": 0,
    "x": 420,
    "y": 520,
    "wires": [["http-put-config"],["file-audit"]]
  },
  {
    "id": "http-put-config",
    "type": "http request",
    "z": "tab-reuse",
    "name": "PUT /admin/config",
    "method": "PUT",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "${REUSE_API_BASE_URL}/admin/config",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "headers": [
      { "key": "Content-Type", "value": "application/json" },
      { "key": "Authorization", "value": "Bearer ${REUSE_ADMIN_TOKEN}" }
    ],
    "x": 690,
    "y": 500,
    "wires": [["ui-toast-saved"]]
  },
  {
    "id": "file-audit",
    "type": "file",
    "z": "tab-reuse",
    "name": "Salvar audit JSONL",
    "filename": "data/reuse_audit.jsonl",
    "appendNewline": true,
    "createDir": true,
    "overwriteFile": "false",
    "encoding": "utf8",
    "x": 700,
    "y": 560,
    "wires": []
  },
  {
    "id": "ui-toast-saved",
    "type": "ui_toast",
    "z": "tab-reuse",
    "position": "top right",
    "displayTime": "3",
    "highlight": "",
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "",
    "name": "Toast: Salvo!",
    "message": "Configuração salva com sucesso ✅",
    "x": 930,
    "y": 500,
    "wires": []
  },
  {
    "id": "ui-button-invalidate",
    "type": "ui_button",
    "z": "tab-reuse",
    "name": "Forçar recarregar app",
    "group": "ui-group-actions",
    "order": 3,
    "width": 4,
    "height": 1,
    "passthru": false,
    "label": "Invalidar cache",
    "tooltip": "POST /admin/config/invalidate",
    "x": 210,
    "y": 580,
    "wires": [["http-post-invalidate"]]
  },
  {
    "id": "http-post-invalidate",
    "type": "http request",
    "z": "tab-reuse",
    "name": "POST /admin/config/invalidate",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "${REUSE_API_BASE_URL}/admin/config/invalidate",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "headers": [
      { "key": "Authorization", "value": "Bearer ${REUSE_ADMIN_TOKEN}" }
    ],
    "x": 510,
    "y": 580,
    "wires": [["ui-toast-invalid"]]
  },
  {
    "id": "ui-toast-invalid",
    "type": "ui_toast",
    "z": "tab-reuse",
    "position": "top right",
    "displayTime": "3",
    "highlight": "",
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "",
    "name": "Toast: Invalidação enviada",
    "message": "Sinal de recarregar enviado 🚀",
    "x": 770,
    "y": 580,
    "wires": []
  }
]